body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

textarea {
  resize: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.top {
  border-width: medium thin thin thin;
}

.square.right {
  border-width: thin medium thin thin;
}

.square.bottom {
  border-width: thin thin medium thin;
}

.square.left {
  border-width: thin thin thin medium;
}

.square.top-right {
  border-width: medium medium thin thin;
}

.square.top-left {
  border-width: medium thin thin medium;
}

.square.bottom-right {
  border-width: thin medium medium thin;
}

.square.bottom-left {
  border-width: thin thin medium medium;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.difficulty {
  display: flex;
  margin-top: 30px;
}